$w: 200px;
$main-color: #e9e99f;
@mixin large {
  width: 500px;
  height: 500px;
  font-size: 3rem;
}

#container {
  width: $w;
  height: 200px +200;
  .box {
    width: 50px;
    height: 50px;
    background: $main-color;
    &.active {
      background-color: black;
    }
    &::before {
      content: "";
    }

    // 형제 선택자

    & + & {
    }

    p {
      @include large();
    }
  }
}
